/*hack*/
html{width:100%}
body{line-height:1.5;color:#333;width:100%;font-size:14px}
body,input{font-family:'Microsoft Yahei',verdana}
aside,body,dd,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,img,li,nav,p,section,ul{margin:0;padding:0;border:none}
aside,figcaption,figure,footer,header,hgroup,nav,section{display:block}
img,input,label{vertical-align:middle}
img,input{margin:0;line-height:normal}
button,input{outline:0}
dl,ul{list-style:none}
em{font-style:normal}
a{text-decoration:none;color:#fff}

/*global*/
.g-wp{position: relative; width: 100%; height: 100%; min-width: 960px;}
.g-hd{height: 75px; background-color: #1d1d1d;}
.g-bd{}
.g-ft{padding: 30px 0; }
.mask{width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: #000; opacity: .6; filter: alpha(opacity=60); -moz-opacity: .6;}

/*module*/
.m-hd, .m-cnt, .m-ft{width: 940px; margin: 0 auto; padding: 0 10px;}
.m-hd{height: 75px;}
.m-cnt{padding: 10px;}
.m-nav{}
.m-navLink{float: right; }
.m-navLink span{margin: 0 10px; color: #999; line-height:75px;}
.m-banner{position: relative; height: 480px; background: url("../image/buddha.jpg") no-repeat 50% 50%;}
.m-slideBox {position: relative; top: 39px; border: 1px solid #666; width: 877px; height: 400px; margin: 0 auto; box-shadow: 0 1px 1px #333;}
.m-section{height: 300px; background-position: 50% 0; background-size: cover; background-image: url("../image/buddha.jpg");}
.m-form{position: relative; background-color: rgba(250,240,210,0.95); padding: 40px 102px;  font-size: 24px;}
.m-form input[type="text"] {display: inline-block; padding: 4px 10px; font-size: 20px; width: 200px; border: none; color: #996;}
.m-form label{vertical-align: middle; display: inline-block; width: 120px; text-align: right;}
.m-formItem{float: left; margin: 10px;}
.m-ft{text-align: center;}
.m-ft a{color: #666; margin: 10px;}
.m-dlg { position: fixed; z-index: 2; margin: -155px 0 0 -205px; /* margin-left: -205px; */ padding: 10px; top: 50%; left: 50%; width: 400px; border-radius: 5px; background-color: #fff;}


ul.slideImg a {
    /*background-image: url("../image/slide1.png");*/
    width: 877px;
    height: 400px;
    display: block;
}
ul.slideImg li.off{ display: block;}
ul.slideImg li.off{ display: none;}

.slideBar {
    position: absolute;
    left: 50%;
    bottom: 20px;
    height: 12px;
    width: 100px;
}
.slideBar a{
	float: left;
    width: 10px;
    height: 10px;
    display: block;
    margin-right: 8px;
    border-radius: 5px;
    background-color: #CCC;
}
.slideBar a.on{background-color: #C79E14;}


/*unit*/
.u-logo{float: left; display: block; height: 100%; width: 108px; text-indent: -9999px; background: url("../image/logo.png") no-repeat 0 50%;}
a.u-btn {clear: both; display: block; background-color: #ce3; height: 36px; width: 200px; text-align: center; padding: 2px 5px; border-radius: 2px; color: #fff;}

/*combine*/
.m-form a.u-btn{ bottom: -60px; position: relative; margin: 0 auto;}
.m-dlg p{font-size: 22px; text-align: center; background-color: #abd; margin: -10px -10px 10px -10px; border-bottom: 1px solid #aaa; border-radius: 2px 2px 0 0; line-height: 36px;}
.m-dlg div.msg{font-size: 16px; padding: 20px;}
.m-dlg a.u-btn-s{color: #000; display: inline-block; margin: 0 0 0 -52px; background-color: #ced; padding: 2px; position: relative; left: 50%; width: 100px; text-align: center; font-size: 16px; border-radius: 2px;}